{:paths ["src"]
 :deps  {}
 :aliases
 {:neil {:project {:name aoc/aoc}}
  :nrepl {:extra-deps {nrepl/nrepl {:mvn/version "1.5.1"}
                       cider/cider-nrepl {:mvn/version "0.58.0"}
                       refactor-nrepl/refactor-nrepl {:mvn/version "3.11.0"}}
          :main-opts ["-m" "nrepl.cmdline" "--interactive" "--color" "--middleware" "[cider.nrepl/cider-middleware,refactor-nrepl.middleware/wrap-refactor]"]}}}
